Question 1

In this code, variable 'a' is declared as a global variable, which means that every time function 'b' is invoked, it passes the value of 'a' to function 'c' and returns the result of 'a' incremented by 2. As a result, when 'b' is called for the first time, it sets the value of 'a' to 2, and when called for the second time, it sets 'a' to 4. Consequently, when 'b' is called for the third time, the returned output is 6.

In [1]:
try:
    a = 0
    def b():
     global a
     a = c(a)
    def c(a):
     return a + 2

    b()
    b()
    b()
    print(a)
except Exception as e:
    print(e.__class__, " Exception has occurred.")

6

Question 2

In [4]:
def fileLength(filename):
    try:
        demofile = open(filename)
        inputlen = demofile.read()
        demofile.close()
        print(len(inputlen))
    except:
        print("File "+filename+" not found!")
fileLength("midterm.py")
fileLength("idterm.py")

141
File idterm.py not found!

Question 3

In [3]:
try:
    class Marsupial:                

        def __init__(inst,x,y):       #defining a constructor to take input x,y variables of parent class
            inst.pouch=[]                   

    # inserting the items to the list
        def put_in_pouch(inst,items):   
            inst.pouch.append(items)

    # to display the items in the list
        def pouch_contents(inst):           
            return inst.pouch

    # Kangaroo Sub-class
    class Kangaroo(Marsupial): 
    
    # extending the Marsupial __init__ constructor
        def __init__(inst,x,y):              
            super().__init__(x,y)     
            inst.dx = 0                      
            inst.dy = 0                        

    # supports method jump
        def jump(inst,x,y):                 
            inst.dx += x    #defining jump function to jump the coordinates of Kangaroo according to the input 

    #overloading the _str_()
        def __str__(inst):           

            return ('I am a Kangaroo located at coordinates ( {},{})'.format(inst.dx,inst.dy))

    k = Kangaroo(0,0)
    print(k)
    k.put_in_pouch('doll')
    k.put_in_pouch('firetruck')
    k.put_in_pouch('kitten')
    k.pouch_contents()
    print(k.pouch)  
    k.jump(1,0)
    k.jump(1,0)
    k.jump(1,0)
    print(k)
except Exception as e:
    print(e.__class__, " Exception has occurred.")

I am a Kangaroo located at coordinates ( 0,0)
['doll', 'firetruck', 'kitten']
I am a Kangaroo located at coordinates ( 3,0)

Question 4

In [5]:
try:
    def collatz (x):
        if(x != 1):
            print(x ,end ='\n')
        if(x == 1):
            print(x ,end ='\n')
            return x
        if(x%2 == 0):
            x = x // 2
            collatz(x)
        else:
            x= 3*x + 1
            collatz(x)
    collatz(1)
    collatz(10)
except Exception as e:
    print(e.__class__, " Exception has occurred.")

1
10
5
16
8
4
2
1

Question 5

In [6]:
try:
    num =""
    def binary (n):
        global num
        if(n!=1): # if input number not equal to 1
            if(n==0):
                print("0")
            else:
                a=""
                rem = int(n%2)
                a =str(rem)
                num+=a
                n =int(n/2)
                binary(n)
        else:
            num +="1"
            num = num [::-1] 
            print(num)
            num=""

    binary(0)
    binary(1)
    binary(3)
    binary(9)
except Exception as e:
    print(e.__class__, " Exception has occurred.")

0
1
11
1001

Question 6

In [7]:
try:
    from html.parser import HTMLParser
    a1='False'
    a2='False'
    class HeadingParser(HTMLParser):  
        def handle_starttag(self, tag, attrs):
            if tag == 'h1':
                global a1
                a1 = "True"
            if tag == 'h2':
                global a2
                a2 = "True"  
        def handle_endtag(self, tag):
            if a1 == "False":
                pass
            if a2 == "False":
                pass
        def handle_data(self, data):
            global a1,a2
            if a1 == "True": 
                print(data)
                a1='False'    
            if a2 == "True":        
                print(' ',end='')
                print(data)
                a2 = 'False'
    demofile = open('w3c.html') 
    content = demofile.read() 
    demofile.close() 
    hp = HeadingParser() 
    hp.feed(content) 
except Exception as e:
    print(e.__class__, " Exception has occurred.")

W3C Mission
 Principles

Question 7

In [17]:
from urllib.request import urlopen
from urllib.parse import urljoin
from html.parser import HTMLParser

try:
    class LinkParser(HTMLParser):

        def __init__(self, starting_url):

            HTMLParser.__init__(self)
            self.starting_url = starting_url
            self.available_links = []

        def get_links(self):
            return self.available_links

        def handle_starttag(self, tag, attrs):
            if tag == 'a':
                for attr in attrs:          
                    if attr[0] == 'href': 
                        absolute = urljoin(self.starting_url, attr[1])
                        if absolute[:4] == 'http':
                            self.available_links.append(absolute)


    all_links = []
    def webdir(starting_url, depth, index):
        global all_links
        res = urlopen(starting_url)
        content = res.read().decode()
        link_parser = LinkParser(starting_url)
        link_parser.feed(content)
        all_links = link_parser.get_links()
        print(index * " " + starting_url)
        if depth == 0:
            return 
        for link in all_links: 
            webdir(link, depth - 1, index + 1)    


    webdir('http://reed.cs.depaul.edu/lperkovic/test1.html', 2, 0)

except Exception as e:
    print(e.__class__, " Exception has occurred.")

http://reed.cs.depaul.edu/lperkovic/test1.html
 http://reed.cs.depaul.edu/lperkovic/test2.html
  http://reed.cs.depaul.edu/lperkovic/test4.html
 http://reed.cs.depaul.edu/lperkovic/test3.html
  http://reed.cs.depaul.edu/lperkovic/test4.html

Question 8

In [31]:
try:
    import sqlite3
    conn = sqlite3.connect('web.db')
    conn.execute('''
    CREATE TABLE IF NOT EXISTS city_season(city text, 
                          country text, 
                          season integer, 
                          temperature integer,
                          rainfall integer);''')
    conn.commit()
    cur = conn.cursor()
    conn.execute("INSERT INTO city_season VALUES('Mumbai', 'India', 'Winter', 24.8, 5.9);")
    conn.execute("INSERT INTO city_season VALUES('Mumbai', 'India', 'Spring', 28.4, 16.2);")
    conn.execute("INSERT INTO city_season VALUES('Mumbai', 'India', 'Summer', 27.9, 1549.4);")
    conn.execute("INSERT INTO city_season VALUES('Mumbai', 'India', 'Fall', 27.6, 346.0);")
    conn.execute("INSERT INTO city_season VALUES('London', 'United Kingdom', 'Winter', 4.2, 207.7);")
    conn.execute("INSERT INTO city_season VALUES('London', 'United Kingdom', 'Spring', 8.3, 169.6 );")
    conn.execute("INSERT INTO city_season VALUES('London', 'United Kingdom', 'Summer', 15.7, 157.0);")
    conn.execute("INSERT INTO city_season VALUES('London', 'United Kingdom', 'Fall', 10.4, 218.5);")
    conn.execute("INSERT INTO city_season VALUES('Cairo', 'Egypt', 'Winter', 13.6, 16.5);")
    conn.execute("INSERT INTO city_season VALUES('Cairo', 'Egypt', 'Spring', 20.7, 6.5);")
    conn.execute("INSERT INTO city_season VALUES('Cairo', 'Egypt', 'Summer', 27.7, 0.1);")
    conn.execute("INSERT INTO city_season VALUES('Cairo', 'Egypt', 'Fall', 22.2, 4.5);")

    cur.execute("SELECT temperature from city_season")
    my_result =cur.fetchall()             
    print("Output 1: All the temperature data")
    for x in my_result:
      print(x, end="")

    print()
    cur.execute("SELECT DISTINCT(city) from city_season")
    my_result = cur.fetchall()
    print("\nOutput 2: All the cities, but without repetition")
    for x in my_result:                          
      print(x, end="")

    print()
    cur.execute("SELECT * from city_season where country = 'India'")
    my_result = cur.fetchall()
    print("\nOutput 3: All the records for India")
    for x in my_result:                             
      print(x, end="")

    print()
    cur.execute("SELECT * from city_season where season = 'Fall'")
    my_result = cur.fetchall()
    print("\nOutput 4: All the Fall records")
    for x in my_result:                             
      print(x, end="")

    print()
    cur.execute("SELECT city,country,season from city_season where rainfall BETWEEN 200 and 400")
    my_result = cur.fetchall()
    print("\nOutput 5: The city, country, and season for which the average rainfall is between 200 and 400 millimeters")
    for x in my_result:                                
      print(x, end="")

    print()
    cur.execute("SELECT city,country from city_season where (season = 'Fall' and temperature > 20) Order BY temperature ASC ")
    my_result = cur.fetchall()
    print("\nOutput 6: The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order")
    for x in my_result:                                
      print(x, end="")

    print()
    cur.execute("SELECT sum(rainfall) from city_season where city = 'Cairo'")
    my_result = cur.fetchall()
    print("\nOutput 7: The total annual rainfall for Cairo")
    for x in my_result:
      print(x, end="")                                      

    print()
    cur.execute("SELECT season, sum(rainfall) from city_season group by season")
    my_result = cur.fetchall()
    print("\nOutput 8: The total rainfall for each season")
    for x in my_result:                                   
      print(x, end="")

    conn.close()
except Exception as e:
    print(e.__class__, " Exception has occurred.")

Output 1: All the temperature data
(24.8,)(28.4,)(27.9,)(27.6,)(4.2,)(8.3,)(15.7,)(10.4,)(13.6,)(20.7,)(27.7,)(22.2,)

Output 2: All the cities, but without repetition
('Mumbai',)('London',)('Cairo',)

Output 3: All the records for India
('Mumbai', 'India', 'Winter', 24.8, 5.9)('Mumbai', 'India', 'Spring', 28.4, 16.2)('Mumbai', 'India', 'Summer', 27.9, 1549.4)('Mumbai', 'India', 'Fall', 27.6, 346)

Output 4: All the Fall records
('Mumbai', 'India', 'Fall', 27.6, 346)('London', 'United Kingdom', 'Fall', 10.4, 218.5)('Cairo', 'Egypt', 'Fall', 22.2, 4.5)

Output 5: The city, country, and season for which the average rainfall is between 200 and 400 millimeters
('Mumbai', 'India', 'Fall')('London', 'United Kingdom', 'Winter')('London', 'United Kingdom', 'Fall')

Output 6: The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order
('Cairo', 'Egypt')('Mumbai', 'India')

Output 7: The total annual rainfall for Cairo
(27.6,)

Output 8: The total rainfall for each season
('Fall', 569.0)('Spring', 192.29999999999998)('Summer', 1706.5)('Winter', 230.1)

Question 9

In [32]:
word_list = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
print("1. ",[i.upper() for i in word_list])
print("2. ",[i.lower() for i in word_list])
print("3. ",[len(i) for i in word_list])
print("4. ",[[i.upper(), i.lower(), len(i)] for i in word_list])
print("5. ",[i for i in word_list if len(i) >= 3])

1.  ['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']
2.  ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
3.  [3, 5, 5, 3, 5, 4, 3, 4, 3]
4.  [['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]
5.  ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']